// Customize colors

$font-header: "Playfair Display", serif;
$font-primary: "Inter", sans-serif;

$body-color: #fff;
$body-bg: #000;

$primary-color: #fff;
$secondary-color: #000;
$border-color: #fff;
$input-color: #bbb;
