@import "fonts";
@import "variables";
@import "animations";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    color: $body-color;
    background: $body-bg;
    font-family: $font-primary;
}

a {
    color: $primary-color;
    text-decoration: underline;
    transition: all 0.275s;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: $font-header;
    font-weight: normal;
}

section {
    padding: 10.6875rem 0;
}

input,
select,
button,
textarea {
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
    &:focus,
    &:focus {
        outline: none;
    }
}

.mt-1 {
    margin-top: 3.75rem;
}

.mt-2 {
    margin-top: 6.8125rem;
}

.center-hld {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 1rem 2.5rem;
    border: none;
    font-size: 1.3125rem;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: all 0.275s;
    &-primary {
        color: $secondary-color;
        background: $border-color;
        &:hover,
        &:focus {
            color: $border-color;
            background: $secondary-color;
        }
    }
    &-outline {
        color: $primary-color;
        border: 1px solid $border-color;
        &:hover,
        &:focus {
            color: $secondary-color;
            background: $border-color;
        }
    }
}

.link {
    &-arrow {
        display: flex;
        text-decoration: none;
        .label {
            transition: all 0.275s;
            margin-right: 10px;
        }
        &:hover,
        &:focus {
            .label {
                margin-right: 20px;
            }
        }
    }
}

.nav {
    list-style: none;
    &-main {
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 3.5625rem;
        a {
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.275s;
            &:hover,
            &:focus {
                color: #8e8e8e;
            }
        }
    }
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.3125rem;
    }
}
.container {
    margin: 0 auto;
    width: 1294px;
    &-fluid {
        width: 100%;
    }
    &-testimonials {
        width: 1140px;
    }
}

.title {
    &-normal {
        margin-bottom: 1.5625rem;
        font-size: 5.0625rem;
        text-align: center;
    }
    &-big {
        font-weight: bold;
        font-size: 19.3125rem;
        line-height: 78%;
        text-align: center;
    }
}

.text-content {
    p {
        font-size: 2.5rem;
    }
}

.columns {
    display: flex;
    .text-content {
        padding: 4.0625rem 4.0625rem 4.0625rem 0;
        p {
            margin-bottom: 4.0625rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.header-page {
    padding: 5.25rem 0;
    display: flex;
    justify-content: space-between;
    .logo {
        font-size: 1.25rem;
        font-weight: 500;
        font-family: $font-primary;
        text-transform: uppercase;
    }
}

/*
 Hero
*/

.hero {
    position: relative;
    overflow: hidden;
    .container {
        z-index: 1000;
        position: relative;
    }
    .intro {
        font-size: 1.5rem;
        font-weight: 500;
        transform: translate(-80px, -90px);
        width: 55%;
    }
    .image-left {
        position: absolute;
        bottom: 50px;
        left: -35px;
    }
    .image-right {
        position: absolute;
        top: 50px;
        right: -6px;
    }
    .btn {
        transform: translate(50%, 100%);
    }
}

/*
 Testimonials
*/

.lead {
    font-size: 1.375rem;
    text-align: center;
}

.testimonials {
    .data {
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
    }
    .title {
        line-height: 100%;
        font-size: 2.75rem;
        font-weight: 600;
        font-family: $font-primary;
    }
    p {
        margin: 1.8125rem 0;
        font-size: 0.9375rem;
        font-weight: 300;
    }
    .link {
        margin-top: auto;
        font-size: 1rem;
        font-weight: 500;
    }
}

.grid {
    &.portfolio {
        --gap: 4.625rem;
        column-width: 50%;
        column-count: 2;
        & > * {
            margin: var(--gap) 0 0 var(--gap);
        }
    }
    &.testimonials {
        margin-top: 6.4375rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.375rem;
        .block-1,
        .block-2,
        .block-3 {
            background: #181818;
            display: flex;
            flex-direction: row;
            &--reverse {
                flex-direction: row-reverse;
            }
            .image-hld {
                min-width: 344px;
                min-height: 344px;
                overflow: hidden;
                display: flex;
                img {
                    min-width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }
            .data {
                width: 100%;
                height: 100%;
            }
        }

        .block-1 {
            grid-row: 1 / 3;
            grid-column: 1 / 3;
        }
        .block-2 {
            grid-row: 3 / 5;
            grid-column: 1 / 3;
        }

        .block-3 {
            grid-row: 1 / 5;
            grid-column: 3 / 3;
            flex-direction: column;
        }
    }
}

form {
    .row {
        margin-bottom: 3.9375rem;
    }
    .form-label {
        padding-bottom: 0.2rem;
        font-size: 2.75rem;
    }
    .form-control {
        width: 100%;
        padding: 0.6rem 0;
        color: $input-color;
        font-size: 1.5625rem;
        border-bottom: 2px solid $primary-color;
        transition: all 0.275s;
        &:focus {
            border-bottom-color: #8e8e8e;
        }
    }
    .btn {
        cursor: pointer;
        font-size: 2.401rem;
    }
}

.form-contact {
    margin: 0 auto;
    width: 70%;
}
.footer-page {
    padding: 4.6875rem 0;
    .copyright {
        padding-bottom: 1.5rem;
        font-size: 1.375rem;
        font-weight: bold;
        text-align: center;
    }
}
